<div class="relative bg-white overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div class="mt-2 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 lg:px-8">
        <div class="sm:text-center lg:text-left">
          <div class="mt-3 text-base text-gray-900 sm:mt-5 sm:text-lg sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            <ol class="list-decimal">
              <li>Go edit the file <code>/pages/index.md</code> and change "<code>world</code>" in the phrase "<code>Hello, world</code>" to say your name instead of "<code>world</code>".</li>
              <li>Upload it to your repository using GitHub Desktop.</li>
              <li>Reload this web page <i>(changes might take about 5 minutes to show up)</i>.</li>
              <li>Celebrate that your name is now on this web page.  Yay!</li>
            </ol>
            <p>&nbsp;</p>
            <p>You've just experienced the DevOps concepts "continuous integration" and "continuous deployment" of codebases into changes to the behavior of running, live websites.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>